:root {
  --base: #fff;
  --base2: #f7f7f7;
  --card-bg: #1b1913;
  --card-bg-2: #423d35;
  --white: #edecec;
  --text-light: #edecec;
  --text-dark: #201f1f;
  --text-muted: #a1a2a2;
  --primary: #18e299;
  --body-font: "Inter", sans-serif;
  --header-font: "Inter", sans-serif;
  --header-font-2: "Geist Mono", monospace;
  --color-text-main: #ffffff;
  --border-color: lab(2.42579% -0.165291 -0.470081 / 0.05);
  --text-soft: lab(2.42579% -0.165291 -0.470081 / 0.8);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--base);
  font-family: var(--body-font);
  color: var(--text-soft);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
  font-weight: 600;
}

a {
  text-decoration: none;
  color: var(--primary);

  &:hover {
    opacity: 0.8;
  }
}

ul {
  list-style: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
}

.btn {
  border-radius: 30px;
  padding: 10px 14px;
  border: none;
  background: none;
  color: var(--text-light);
  border: 1px solid transparent;
  font-weight: 600;
  &.btn-outline {
    background: #ffffff19;
    color: var(--text-light);
  }
  &.btn-white {
    background: var(--white);
    color: #000;
  }
  &.btn-primary {
    background: #000000;
    color: #ffffff;
  }
  &.btn-secondary {
    background: #ffffff;
    color: #1f1f1f;
    font-weight: 600;
    border: 1px solid #efefef;
  }
  &.btn-big {
    padding: 12px 18px;
    font-size: 16px;
  }
}

.text-light {
  color: var(--text-light);
}

.text-primary {
  color: var(--primary);
}

header {
  position: sticky;
  top: 0;
  background: transparent;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;

  .logo-container {
    width: 95px;

    svg {
      width: 100%;
      height: auto;
    }
  }

  nav {
    ul {
      display: flex;
      gap: 30px;
      font-size: 14px;
    }
    a {
      font-weight: 600;
      color: var(--text-light);
    }
  }
}

.hero {
  margin-top: -100px;
  color: var(--text-light);
  min-height: 500px;

  // position: relative;

  &::before {
    z-index: -1;
    position: absolute;
    background: url("../assets/bg-light.svg");
    content: "";
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero-container {
    padding-top: 130px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    .hero-new {
      background: #00000025;
      padding: 4px 8px 4px 4px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      gap: 10px;

      h6 {
        font-size: 14px;
      }

      span {
        font-size: 12px;
        padding: 4px 8px;
        border-radius: 20px;
        font-weight: 600;
        background: #0c8c5e;
      }

      svg {
        border-radius: 50%;
        height: 18px;
        width: 18px;
        display: flex;
        justify-content: center;
        align-self: center;
      }
    }

    h1 {
      font-size: 60px;
      text-align: center;
    }
    p {
      line-height: 25px;
      text-align: center;
      font-size: 18px;
    }

    .input-container {
      width: 350px;
      background: #ffffff47;
      border: 1px solid #ffffff43;
      padding: 4px;
      border-radius: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      input {
        flex-grow: 1;
        background: transparent;
        border: none;
        padding-inline-start: 10px;
        color: #fff;
        font-weight: 600;
        &::placeholder {
          color: #ffffff82;
          font-weight: 600;
        }
        &:focus,
        &:focus-visible {
          outline: none;
          box-shadow: none;
          border-color: inherit; /* Optional: keeps the border color the same */
        }
      }
      .btn-input {
        background: #fff;
        color: #000;
        font-weight: 500;
        font-size: 14px;
      }
    }

    img {
      border-radius: 20px;
    }
  }
}

.companies {
  margin-block-start: 140px;
  .companies-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    .company {
      // background: #000;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 120px;
        height: 60px;
        object-fit: contain;
      }
    }
  }
}

.built {
  margin-block-start: 140px;
  .built-container {
    text-align: center;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
      font-size: 40px;
    }

    p {
      width: 55%;

      line-height: 22px;
    }

    .built-card-container {
      margin-block-start: 30px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;

      .built-card {
        border-radius: 24px;
        border: 1px solid #f2f2f2;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: start;
        padding: 30px;
        gap: 20px;

        small {
          font-weight: 500;
          font-size: 13px;
          color: #0c8c5e;
          text-transform: uppercase;
        }

        h4 {
          font-weight: 500;
          font-size: 24px;
        }

        .img-container {
          min-height: 400px;
          padding: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .span-2 {
        grid-column-end: span 2;
        text-align: center;
        justify-content: center;
        align-items: center;

        p {
          width: 46%;
          line-height: 25px;
          font-weight: 400;
          color: lab(2.42579% -0.165291 -0.470081 / 0.8);
        }
      }
    }
  }
}

.enterprise {
  margin-block-start: 130px;
  background: #f7f7f7;
  padding-block-start: 120px;
  padding-block-end: 130px;

  .enterprise-container {
    display: grid;
    grid-template-columns: 70% auto;

    .left {
      display: flex;
      flex-direction: column;
      gap: 20px;
      small {
        color: #0c8c5e;
        text-transform: uppercase;
      }
      h1 {
        color: #000;
        font-size: 40px;
        width: 60%;
      }
      p {
        color: #000;
      }
    }

    .right {
      display: flex;
      align-items: flex-end;
    }
  }
  .enterprise-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-block-start: 60px;
    .enterprise-card {
      display: flex;
      flex-direction: column;
      gap: 20px;
      svg {
        height: 30px;
        width: 30px;
        color: #0c8c5e;
      }
      h4 {
        font-size: 22px;
        color: #000;
      }
      p {
        color: #000;
      }
    }
  }

  .with-bg {
    color: var(--text-light);
    min-height: 500px;
    margin-block-start: 50px;
    border-radius: 20px;
    padding: 60px;
    background: url("../assets/anthropic.svg");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .text-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      h6 {
        word-spacing: 10px;
      }

      h3 {
        font-size: 24px;
      }

      a {
        color: #fff;
        font-weight: 500;

        svg {
          transform: rotate(-90deg);
          width: 10px;
          height: 10px;
          color: #fff;
        }
      }
    }

    .active-container {
      display: flex;
      gap: 40px;

      .active-card {
        display: flex;
        flex-direction: column;
        gap: 15px;
        h3 {
          font-weight: 400;
          font-size: 40px;
        }

        p {
          color: #dcdcdc;
          line-height: 25px;
        }
      }
    }
  }

  .companies-container {
    margin: 0 auto;
    width: 90%;
    margin-block-start: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    --color-text-main: #000;
    color: #000;

    svg {
      filter: grayscale(1);
    }
  }
}

.customers {
  margin-block-start: 130px;

  text-align: center;

  .text-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    small {
      color: #0c8c5e;
      text-transform: uppercase;
      font-weight: 500;
    }

    h2 {
      color: #000;
      font-size: 40px;
      font-weight: 500;
    }

    p {
      color: #000;
      width: 55%;
    }
  }

  .story-container {
    margin-block-start: 50px;
    display: grid;
    grid-template-columns: repeat(4, 380px);
    gap: 16px;

    .story-card {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .bg-with-image {
        position: relative;
        height: 400px;
        background: url("../assets/perplexity.webp");
        border-radius: 20px;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        svg {
          width: 200px;
          height: 200px;
          color: #fff;
        }
      }

      .text-container {
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        p {
          width: 100%;
          line-height: 25px;
        }
        a {
          color: #989696;

          svg {
            transform: rotate(-90deg);
            width: 10px;
          }
        }
      }
    }
  }
  .toggle-container {
    margin-block-start: 80px;
    display: flex;
    justify-content: center;
    gap: 20px;

    .left,
    .right {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      color: #000;
      opacity: 0.7;
    }
    .right {
      transform: rotate(180deg);
    }

    .active {
      opacity: 1;
    }
  }
}

.winning {
  margin-block-start: 200px;
  text-align: center;

  .text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    h2 {
      color: #000;
      font-size: 35px;
      width: 40%;
    }
    p {
      color: #000;
    }
  }

  .price-container {
    margin-block-start: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .price-card {
      display: flex;
      flex-direction: column;
      gap: 20px;

      &:first-child {
        border-right: 1px solid var(--border-color);
      }

      .icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        border: 1px solid var(--border-color);
        // padding: 10px;
        height: 50px;
        width: 50px;
        border-radius: 14px;
        svg {
          color: #0c8c5e;
          width: 30px;
          height: 30px;
        }
      }

      h4 {
        font-size: 20px;
        font-weight: 500;
        margin-block-end: 10px;
      }
      a {
        color: #0c8c5e;
        svg {
          transform: rotate(-90deg);
          width: 10px;
          width: 10px;
        }
      }
    }
  }
}

footer {
  background: #ffffff;
  margin-block-start: 130px;
  border-top: 1px solid var(--border-color);

  .logo-container {
    border: 1px solid var(--border-color);
    border-bottom: none;
    border-top: none;
    display: flex;
    justify-content: space-between;
    padding: 80px 40px 30px 30px;
    --color-text-main: #000;

    .social {
      display: flex;
      gap: 10px;
      filter: grayscale(1);
    }
  }

  .footer-container {
    border: 1px solid var(--border-color);
    border-bottom: none;
    padding: 40px 60px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    .footer-card {
      display: flex;
      flex-direction: column;
      gap: 20px;
      h6 {
        color: var(--text-muted);
        font-size: 14px;
        font-weight: 500;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 20px;

        a {
          font-size: 16px;
          font-weight: 500;
          color: var(--text-dark);
        }
      }
    }
  }

  .footer-enterprise {
    border: 1px solid var(--border-color);
    border-bottom: none;
    display: flex;
    justify-content: flex-start;
    padding: 20px 40px;
    align-items: center;
    gap: 20px;

    h3 {
      font-size: 16px;
      text-transform: capitalize;
      font-weight: 500;
    }
    img {
      width: 60px;
      height: 60px;
    }
  }

  .footer-copyright-container {
    border: 1px solid var(--border-color);
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px 80px 20px;
    svg {
      width: 20px;
      height: 20px;
    }

    .left {
      display: flex;
      align-self: center;
      background: #efefef;
      border-radius: 30px;
      padding: 5px 10px;
      gap: 10px;
      svg {
        color: #0c8c5e;
      }
      a {
        font-weight: 500;
        font-size: 14px;
        color: var(--text-dark);
      }
    }

    .center {
      color: var(--text-muted);
      font-size: 14px;
    }

    .right {
      .icon-container {
        display: flex;
        align-self: center;
        background: #efefef;
        border-radius: 30px;
        padding: 5px;
        gap: 2px;

        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 4px;

          svg {
            color: var(--text-muted);
            width: 12px;
            height: 12px;
          }
        }
        .active {
          color: var(--text-dark) !important;
          background: #fff;
          border-radius: 50%;

          svg {
            color: var(--text-dark) !important;
          }
        }
      }
    }
  }
}
